
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@500&family=Explora&family=Gloria+Hallelujah&family=Indie+Flower&family=Josefin+Sans&family=Padyakke+Expanded+One&family=Permanent+Marker&family=Poppins&family=Rock+Salt&family=Shadows+Into+Light&display=swap');



body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color:black;
}

h4{
    font-family:  'Poppins';
    margin:0;
    padding:0;
}